@font-face {
    font-family: "LubalGraph";
    src: url("fonts/LubalGraphMd.ttf");
}
@font-face {
    font-family: "Sanchez";
    src: url("fonts/Sanchez.ttf");
}
body{
	background-color: #d5e7d8;
	font-family: "Sanchez";
	color: #655366;
	font-size: 18px;
}
#wrapper{
	padding-top: 25px;
	width: 760px;
	margin: 0 auto;
	padding-bottom: 50px;
}
.blue{
	background-color : #25c1de;
	color: #142228;
}
.pink{
	background-color : #ec008b;
	color: white;
}
h1{
	margin-top: 15px;
	margin-bottom: 35px;
	font-size: 45px;
	font-weight: normal;
}
#logos{
	height: 130px;
}
#logos img{
	margin-right: 70px;
}
#btns{
	margin-bottom: 75px;
}
#btns div{
	border-radius: 11px;
    display: inline-block;
    height: 35px;
    line-height: 1.7;
    margin-right: 15px;
    text-align: center;
    width: 205px;
    font-size: 20px;
}
div.about{
	text-align: justify;
	width: 87%;
}
p.org{
	margin-top: 50px;
	margin-bottom: 20px;
}
div.pink:hover{
	background-color: #FC289B;
}
div.blue:hover{
	background-color: #3ADAF7;
}
#htb{
	width: 760px;
}
#l39, #tesobe{
	padding-bottom: 20px;
}